input {
    background-color: #1F1F1F !important;
    border-color:#1F1F1F !important;
    color: white !important;
}
.input-group-text {
    background-color: #1F1F1F !important;
    border-color:#1F1F1F !important;
    color: white !important;
}
